body {
    font-family: 'Darker Grotesque', sans-serif;
    color: #ffffff;
    min-width: 100%;
    min-height: 100%;
}

main.main-lista-lobinhos {
    color: rgb(51, 51, 51);
}

/* Busca e seleção de adotados */

.search-adopted{
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.search-form{
    display: flex;
}

.search{
    display: flex;
    justify-content: center;
    height: 2rem;
    margin: 1rem;
}

.search-name {
    width: 40rem;
    margin-right: 1rem;
}

.adopted{
    display: flex;
}

.add-lobo{
    background-color:#DEB959;
    border: none;
}

/* Perfil do lobinho */

.lista-lobos{
    display: flex;
    flex-direction: column;
}

.perfil-lobo{
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #333;
    margin: 1.5rem;
}

.header-lobo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.nome-idade {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.nome-idade > h2 {
    font-weight: bold;
    color: #333;
    font-size: 1.8em;
    margin-bottom: 0.5em;
    margin: auto;
}

.nome-idade > p {
    margin-bottom: 0.5em;
    font-weight: 300;
    font-size: 1.2em;
}

.form-adotar{
    display: flex;
}

.adotar-btn {
    background-color:#DEB959;
    border: none;
    padding: 0.5rem;
}

.adotado-btn {
    background: #7AAC3A;
    border: none;
    padding: 0.5rem;
}

.texto-lobo{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: 300px;
    margin: 2em;
}

.descricao-lobo{
    display: flex;
    justify-content: flex-start;
    width: auto;
}

.nav-paginas{
    display: flex;
}

.img-lobo{
    max-width: 25em;
}

.page-numbers{
    display: flex;
    padding: 1rem;
    justify-content: center;
    width: 100%;
}

.nav-paginas{
    display: flex;
}

a.page-numbers{
    padding:0.10rem;
    margin:0.30rem;
    background-color:antiquewhite;
    text-decoration: none;
}

a.page-numbers:hover{
    border: solid;
    border-width: 1px;
}