/* GERAL */

body {
    display: flex;
    flex-flow: column;

    font-family: 'Darker Grotesque', sans-serif;
    color: #ffffff;
    min-width: 100%;
    min-height: 100%;
}

.stretcher{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    min-height: 100vh;
}

/* SHOW LOBINHO */

.main-show-lobinho {
    color: #333;
    display: flex;
    justify-content: center;
}

.perfil-lobo{
    display: flex;
    flex-direction: column;
    width: 50rem;
}

.perfil-lobo > h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 1000;
    margin: 1rem;
}

.img-lobo {
    max-width: 30rem;
}

.img-descricao{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.img-botoes{
    display: flex;
    flex-direction: column;
}

.descricao-lobo-single{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.lobo-btns{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

.adotar-btn{
    background-color: #7AAC3A;
    padding: 0.5rem;
    border: none;
    color: white;
    font-weight: bold;
}

.excluir-btn{
    background-color: #DE5959;
    padding: 0.5rem;
    border: none;
    color: white;
    font-weight: bold;
}

.adotar-btn:hover{
    background-color: #7bac3ad2;
}

.excluir-btn:hover{
    background-color: #de5959c9;
}