body {
    display: flex;
    flex-flow: column;

    font-family: 'Darker Grotesque', sans-serif;
    color: #333;
    min-width: 100%;
    min-height: 100%;
}

.adopt-screen{
    display: flex;
    flex-flow: column;
    align-items: center;

    margin: 2em;
}

.wolf{
    display: flex;
    justify-content: flex-start;
}

.wolf-img{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    margin: 0.5em;
}

.wolf-name{
    font-size: 3em;
    font-weight: bold;
}

.adopter-info{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: 50%;
}

.personal-info{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    width: 100%;
}

.label-on-top{
    display: flex;
    flex-flow: column;
    font-size: 1.5em;
    flex: 1 1 auto;
}
.name-container{
    width: 90%;
}
.age-container{
    width: 10%;
}

.email-container{
    width: 100%;
}

input[type=text]{
    display: block;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #333;
    margin: 0.5em
}

.button-adopt{
    align-self: center;
    border: 1px solid #333;
    background: none;
    box-shadow: none;
    border-radius: 0px;

    font-size: 1.5em;
    background-color: #2C5680;
    color: #fff;
    padding: 0.4em 1.75em;
    margin: 1em;
}